<!DOCTYPE html>
<html lang="en">
    <%- include('head') %>
    <body>
        <%- include('navbar') %>
        <h1>Club Messages</h1>
        <ul>
            <% for(let i=0; i < messages.length; i++) { %>
                <li>
                    <div>
                        <h2><%= messages[i].title %></h2>
                        <p><%= messages[i].text %></p>
                        <% if(membership === 'club' || membership === 'admin') { %>
                            <p>Author: <%= messages[i].author %></p>
                        <% } %>
                        <% if(membership === 'admin') { %>
                            <a href="/delete-message/<%= messages[i].id %>">Delete</a>
                        <% } %>
                    </div>
                </li>
            <% } %>
        </ul>
    </body>
</html>